<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Video Labeller</title>

        <link href="https://vjs.zencdn.net/7.5.5/video-js.css" rel="stylesheet" />
      
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

</head>


<body>
    Andrea
    <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" 
    data-setup='{}' poster="http://video-js.zencoder.com/oceans-clip.png" >
      <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
      <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm'>
    </video>
    <div id="like_button_container"></div>

    <script type="text/javascript" src="/javascript/main.js"></script>

</body>


</html>